* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-color: #AAAAAA;
}

header {
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
}

main {
  height: 100%;
}

.wall {
  background-color: #FFFFFF;
  width: 90%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
}

.picture img{
  width: 200px;
}

